.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  border-bottom: 1px dashed #8ca0c7;

  & .header-title {
    font-size: 28px;
    color: #4f4f4f;
  }

  & .header-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    & .exit {
      color: #460e87;
    }
  }

  & .header-user {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      margin-right: 20px;
      color: #4f4f4f;
    }

    & .header-icon__container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border: 2px solid #460e87;
      border-radius: 50%;
      box-sizing: border-box;


      & .header-icon {
        width: 25px;
        height: 25px;
      }
    }
  }
}
