.questions {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 60px);
  padding: 40px;

  & .questions-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 25px;
    width: 100%;

    &__item {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 18px;
      color: #460e87;
      position: relative;

      &:not(:last-child) {
        margin-right: 35px;
      }
    }

    & .questions-menu__item--active {
      &:before {
        display: block;
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
        height: 2px;
        background: #460e87;
      }
    }
  }
}

.questions__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  border-bottom: 1px dashed #8ca0c7;

  & select {
    background: none;
    border: 1px solid #eee;
    padding: 5px 10px;
  }
}

.questions__container {
  width: 100%;
  background: #fff;
  flex-direction: column;
  margin-top: 10px;
  border-radius: 15px;
  padding: 20px;
  max-height: 100%;
  overflow-y: auto;
}

.questions__show-block {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: 10px;
  border-radius: 15px;
  padding: 20px;
  background: #fff;
}

.questions-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 25px;
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);

  & .questions-block__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & .questions-block__count {
    margin-bottom: 10px;
  }

  & .questions-block__text {
    margin-bottom: 20px;
  }

  & .questions-block__answer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & input {
      background: none;
      border: none;
      border-bottom: 1px solid #98a9cd;
      padding: 5px 15px;
    }

    & .error-answer {
      border-color: red;
    }

    & .corrected-answer {
      border-color: green;
    }

    & button {
      background: none;
      border: 1px solid #98a9cd;
      color: #98a9cd;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        transition: 0.5s;
        color: #fff;
        background: #98a9cd;
      }
    }
  }
}

